<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <form method="post">
            <label>New Password</label><br/>
            <input type="password" placeholder="Enter new password" name="npwd" /><br/>
            <label>Confirm password</label><br/>
            <input type="password" placeholder="Enter Confirm Password" name="cpwd" /><br/>
            <button>Submit</button>
        </form>
    </center>



</body>

</html>