<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
</head>
<body>
   <div class="container">
    <form method="post"> 
        <h1>Enter Your OTP</h1>
        <input type="text" placeholder="enter otp" name="otp" />
        <button>submit</button>

    </form>

   </div>
</body>
</html>